<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src=app.js></script>
<body>
	<Div>
		<h1>Eric's AngularJS testing ground</h1>
	<div ng-app="myApp" ng-controller="myCtrl">
		<p>Input something in the input box:</p>
		<p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></P>
			<h1>Hello {{name}}</h1>

			<p> Input something else:</p>
			<p>Something else : <input type="text" ng-model="else" placeholder="enter something else here"></p>
			<h1>Hey its something else {{else}}</h1>
			
			<p>Its another thing: <input type="Text" ng-model="YoSon"></p>
			<p ng-bind="YoSon"></p>
			<p>My first expression: {{5 + 5 + 5 * 5}}</p>
			<br>
			<p>Another name: <input type="text" ng-model="anotherName"></p>
			<p>{{anotherName}}</p>
			Second First Name: <input type="text" ng-model="sFirstName"><br>
			Second Last Name: <input type="text" ng-model="sLastName"><br>
			Full Second Name: {{sFirstName + " " + sLastName}}
			<P>{{sFirstName + " " + sLastName}}</p>
	</div>
</body>
</html>
